# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/cloud_firestore/
/build/firebase_core/
/build/shared_preferences/
/build/app/generated/
/build/app/intermediates/
/build/app/reports/
/build/app/tmp/
/build/app/outputs/apk/
/build/app/outputs/logs/
/build/app/outputs/mapping/
/build/app/outputs/flutter-apk/app-arm64-v8a-release.apk
/build/app/outputs/flutter-apk/app-x86_64-release.apk
/build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk
/build/app/outputs/flutter-apk/app.apk.sha1
/build/app/outputs/flutter-apk/app-debug.apk

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json


# My Changes
functions/